framework:
    messenger:
        default_bus: event.bus
        buses:
            event.bus:
                default_middleware: allow_no_handlers
            command.bus: ~

        failure_transport: failed
        transports:
            failed: '%env(FAILED_TRANSPORT_DSN)%'
#            outbox:
#                dsn: '%env(OUTBOX_TRANSPORT_DSN)%'
            billing_events:
                dsn: '%env(BILLING_EVENTS_TRANSPORT_DSN)%'
            sales_events:
                dsn: '%env(SALES_EVENTS_TRANSPORT_DSN)%'
            sales_commands:
                dsn: '%env(SALES_COMMANDS_TRANSPORT_DSN)%'
#            shipping_events:
#                dsn: '%env(SHIPPING_EVENTS_TRANSPORT_DSN)%'
        routing:
            Billing\Domain\Event\OrderBilled: billing_events
            Sales\Domain\Event\OrderPlaced: sales_events
            Sales\Domain\Command\PlaceOrder: sales_commands

        serializer:
            default_serializer: messenger.transport.symfony_serializer
            symfony_serializer:
                format: json
                context: { }
