imports:
    - { resource: contexts/* }

services:
    _defaults:
        autowire: true
        autoconfigure: true
#        bind:
#            Symfony\Component\Messenger\Transport\Sender\SenderInterface $reliableSender: '@messenger.transport.outbox'

    Shared\Infrastructure\:
        resource: '../src/_Shared/Infrastructure'

#    Shared\Infrastructure\Messenger\OutboxProcessor:
#        autoconfigure: false
#        tags:
#            - { name: messenger.message_handler, handles: '*' }

    saga_transaction:
        class: Shared\Infrastructure\Messenger\SagaTransactionMiddleware
    Shared\Infrastructure\Messenger\SagaTransactionMiddleware: '@saga_transaction'
    saga_persistence:
        class: Shared\Infrastructure\Messenger\SagaPersistenceMiddleware
        arguments:
            $sagaHandlerPrototypes: !tagged_iterator saga_handler
    Shared\Infrastructure\Messenger\SagaPersistenceMiddleware: '@saga_persistence'

    Shared\Infrastructure\Command\SetupSagaTablesCommand:
        arguments:
            $sagaHandlerPrototypes: !tagged_iterator saga_handler

    Shared\Application\SagaPersisterInterface: '@Shared\Infrastructure\DoctrineSqlSagaPersister'
